<%= form_with model: @team, local: true do |f|%>
  <div class="field">
    <%= f.label :name, "チームの名称" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :city_id, "所属の市町村" %><br />
    <%= f.collection_select(:city_id, City.all, :id, :name, {}, {class:"city-select"}) %>
  </div>

  <div class="field">
    <%= f.label :message, "メッセージ" %><br />
    <%= f.text_area :message, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :representative, "チームの代表者名" %><br />
    <%= f.text_field :representative %>
  </div>

  <div class="field">
    <%= f.label :email, "代表者のメールアドレス" %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :image, "チームの画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>